@import '../variables';

.profile {
  width: 100%;
  max-width: $max-width;
  text-align: center;
  border-radius: 10px;
  color: $light-grey;
  background-color: $white;
  box-shadow: 0 0 $shadow-blur 0 $shadow-color;
  overflow: hidden;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-bottom: 2px solid $border-color;
  font-size: 1.2rem;

  & > * {
    margin: 0 0 15px 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.avatar {
  width: 70%;
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  object-fit: cover;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: $black;
}

.tag {
}

.location {
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #e3e8ec;

  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 40px 5px;
    border-right: 2px solid $border-color;

    &:last-child {
      border-right: none;
    }
  }
}

.label {
}

.quantity {
  font-weight: 700;
  color: $black;
}
