.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-size: 1rem;
  color: #010101;
  background-color: #e7ecf2;

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
